<main>
    {{#if hasProducts}}
    <ul>
        {{#each products}}

        <li>
            <p>{{productId.title}} ({{quantity}})</p>
            <form action="/cart-delete-item" method="POST">
                <input type="hidden" value="{{productId._id}}" name="productId">
                <button class="btn" type="submit">Delete</button>
            </form>
        </li>
        {{/each}}
    </ul>
    <hr>
    <div class="centered">
        <form action="/create-order" method="POST">
            <button type="submit" class="btn">Order Now!</button>
        </form>
    </div>
    {{else}}
    <h1>No Products in Cart!</h1>
    {{/if}}
</main>