<main>
    {{#if hasOrders}}
    {{#each orders}}
    <ul>
        <li>
            <h1>Order# - {{_id}}</h1>
            <ul>
                {{#each products}}
                <li>{{product.title}} ({{quantity}})</li>
                {{/each}}
            </ul>
        </li>
    </ul>
    {{/each}}
    {{else}}
    <h1>There are no orders!</h1>
    {{/if}}
</main>