<main>
    {{#if errorMessage}}
    <div class="user-message user-message--error">{{errorMessage}}</div>
    {{/if}}

    <form class="login-form" action="/signup" method="POST">
        <div class="form-control">
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
        </div>
        <div class="form-control">
            <label for="email">E-Mail</label>
            <input type="email" name="email" id="email">
        </div>
        <div class="form-control">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <div class="form-control">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" name="confirmPassword" id="confirmPassword">
        </div>
        <button class="btn" type="submit">Login</button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
</main>